<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHiqoj_o3diCcJLbXAoEOK1o7rYLMYFPE</string>
	<key>GCM_SENDER_ID</key>
	<string>463719353452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ARDrawing.TraceCam</string>
	<key>PROJECT_ID</key>
	<string>ar-drawing---tracecam</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-drawing---tracecam.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463719353452:ios:b693f1bdebdfeb85a45c49</string>
</dict>
</plist>